<!DOCTYPE html>
<!--[if lt IE 7]>      <html lang="en" ng-app="myApp" class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html lang="en" ng-app="myApp" class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html lang="en" ng-app="myApp" class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html lang="en" ng-app="volumeFour" class="no-js"> <!--<![endif]-->
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Volume IV</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="libs/html5-boilerplate/dist/css/normalize.css">
  <link rel="stylesheet" href="libs/html5-boilerplate/dist/css/main.css">
  <link rel="stylesheet" href="libs/videogular-themes-default/videogular.css">
  <link rel="stylesheet" href="libs/angular-bootstrap/ui-bootstrap-csp.css">
  <link rel="stylesheet" href="libs/bootstrap/dist/css/bootstrap.css">
  <link rel="stylesheet" href="libs/slick-carousel/slick/slick.css">
  <link rel="stylesheet" href="libs/slick-carousel/slick/slick-theme.css">
  <link rel="stylesheet" href="stylesheets/style.css">
  <script src="libs/html5-boilerplate/dist/js/vendor/modernizr-2.8.3.min.js"></script>
</head>
<body class="bod-bg">
	  <ul class="menu">
		<img ng-src="/javascripts/images/volFourLogo.png" style="height:74px; width:146px; padding-left:1.0em; padding-right:1.0em"></img>
		<li><a href="#!/about" class="menu-items">ABOUT</a></li>
		<li><a href="#!/gear" class="menu-items">GEAR</a></li>
		<li><a href="#!/photos" class="menu-items">PHOTOS</a></li>
		<li><a href="#!/clients" class="menu-items">CLIENTS</a></li>
		<li><a href="#!/booking" class="menu-items">BOOKING</a></li>
		<li><a href="https://www.facebook.com/Volume-IV-424771364285558/" target="_blank"><img ng-src="/javascripts/images/facebook.png" style="height:38px; width:38px; float:right; padding-right: 2em; padding-top: 2em"></a></img>
	  </ul>
	
	  <div ng-view ></div>

	  <!-- In production use:
	  <script src="//ajax.googleapis.com/ajax/libs/angularjs/x.x.x/angular.min.js"></script>
	  -->
	  <script src="libs/jquery/dist/jquery.js"></script>
	  <script src="libs/angular/angular.js"></script>
	  <script src="libs/slick-carousel/slick/slick.js"></script>
	  <script src="libs/angular-slick/dist/slick.js"></script>
	  <script src="libs/angular-sanitize/angular-sanitize.js"></script>
	  <script src="libs/angular-route/angular-route.js"></script>
	  <script src="libs/angular-bootstrap/ui-bootstrap-tpls.js"></script>
	  <script src="libs/videogular/videogular.js"></script>
	  <script src="libs/videogular-buffering/vg-buffering.js"></script>
	  <script src="libs/videogular-controls/vg-controls.js"></script>
	  <script src="libs/videogular-overlay-play/vg-overlay-play.js"></script>
	  <script src="libs/videogular-poster/vg-poster.js"></script>
	  <script src="/javascripts/angularApp.js"></script>
	  <script src="/javascripts/about/about.js"></script>
	  <script src="/javascripts/gear/gear.js"></script>
	  <script src="/javascripts/photos/photos.js"></script>
	  <script src="/javascripts/clients/clients.js"></script>
	  <script src="/javascripts/booking/booking.js"></script>
	  <script src="/javascripts/components/version/version.js"></script>
	  <script src="/javascripts/components/version/version-directive.js"></script>
	  <script src="/javascripts/components/version/interpolate-filter.js"></script>
 
</body>
</html>
