<div ng-app="'volumeFour.clients'">
	<div ng-controller="clientsCtrl as ctrl" class="container-fluid">
		<div class="row" style="margin: 1.0em"></div>
		<p class="content-text">
				Over the years, we have had the pleasure of working some of the finest artists
				the area has to offer.  A good many of them are even better people.  The following is 
				just a small sampling of some of our favorite tunes from these projects.  
		</p><br>
		<div class="row">
			<div class="col-xs-2"></div>
			<div class="col-xs-8">
				<img ng-repeat="song in songs" class="album-cover"
					ng-src="{{song.url}}" ng-click="setAudio(song.index)">{{song.artist}}</img>
			</div>
			<div class="col-xs-2"></div>
		</div>
		<div class="row">
			<div ng-if="showCols" class="col-xs-2"></div>
			<div class="{{ playerWidth }}">
				<videogular class="audio-player"
					vg-player-ready="ctrl.onPlayerReady($API)"
					vg-theme="ctrl.config.theme.url" class="videogular-container audio">
				<vg-media vg-src="ctrl.config.sources"
					vg-tracks="ctrl.config.tracks" vg-type="audio"> </vg-media> <vg-controls>
				<vg-play-pause-button></vg-play-pause-button> <vg-time-display>{{
				currentTime | date:'mm:ss':'+0000' }}</vg-time-display> <vg-scrub-bar>
				<vg-scrub-bar-current-time></vg-scrub-bar-current-time> </vg-scrub-bar> <vg-time-display>{{
				timeLeft | date:'mm:ss':'+0000' }}</vg-time-display> <vg-volume> <vg-mute-button></vg-mute-button>
				</vg-volume> </vg-controls> </videogular>
				<p class="content-text" style="margin-top: 1em">{{artist}} | {{title}}</p>
			</div>
			<div ng-if="showCols" class="col-xs-2"></div>
		</div>
	</div>
</div>