html, body {
	height: 100%;
}

.underline{
	text-decoration: underline;
}

.header-row {
	background-color: black;
	padding: 0.5em;
	margin: 0.5em;
}

.email-confirm {
	background-color: black;
	padding: 0.5em;
	margin: 0.5em;
	border-radius: 5px;
}

.vol-four-logo {
	height: auto;
	width: 80%;
}

.facebook-logo {
	height: auto;
	width: 15%;
	float: right;
}
.head-shot {
	width: 125px;
	height: 125px;
	padding: 0.5em; 
}

.head-shot-row {
	opacity: 0.8;
	background-color: black;
	margin: 3.0em;
}

.bod-bg {
	background-color: #d3d3d3;
	margin-left: 50px;
	margin-right: 50px;
	background-image: url("/javascripts/images/consoletest.jpg");
	background-size: cover;
}

.menu-items {
	text-decoration: none;
	font-family: "Arial";
	font-size: 18px;
	color: white;
}

.menu-items:hover {
	color: #FFD700;
}

.album-cover {
	cursor: pointer;
	height: 150px;
	width: 150px;
	padding-right: 2em;
	padding-top: 2em;
}
.audio-player {
	height:50px; 
	opacity:0.8; 
	margin-top: 1em
}
.slick-container {
	width: 100%;
	margin: auto;
	padding: 15px;
}

.slick-image {
	width: 260px;
	height: 260px;
}

.slick-item img {
	margin: auto;
}

.content-text {
	padding-left: 4%;
	padding-right: 4%;
	color: black;
	font-weight: bold;
	font-size: 18px;
	opacity: 0.8;
}

.submit-btn {
	background-color: black;
	margin-top: 1em;
}

.submit-btn:hover {
	background-color: grey;
}