<div ng-controller="photosCtrl" class="container-fluid">
	<p class="content-text">GEAR</p>
	<div class="row">
		<div class="col-xs-12">
			<div class="slick-container">
				<slick infinite=true slides-to-show=5 slides-to-scroll=3
					centerMode=true dots=false>
				<div class="slick-item" ng-repeat="image in gearSlides">
					<img class="slick-image" ng-src="{{ image.image }}"
						ng-click="openFocus(image.image)" />
				</div>
				</slick>
			</div>
		</div>
	</div>
	<p class="content-text">LIVE ROOM</p>
	<div class="row">
		<div class="col-xs-12">
			<div class="slick-container">
				<slick infinite=true slides-to-show=5 slides-to-scroll=3
					centerMode=true dots=false>
				<div class="slick-item" ng-repeat="image in liveSlides">
					<img class="slick-image" ng-src="{{ image.image }}"
						ng-click="openFocus(image.image)" />
				</div>
				</slick>
			</div>
		</div>
	</div>
	<p class="content-text">CONTROL ROOM</p>
	<div class="row">
		<div class="col-xs-12">
			<div class="slick-container">
				<slick infinite=true slides-to-show=5 slides-to-scroll=3
					centerMode=true dots=false>
				<div class="slick-item" ng-repeat="image in controlSlides">
					<img class="slick-image" ng-src="{{ image.image }}"
						ng-click="openFocus(image.image)" />
				</div>
				</slick>
			</div>
		</div>
	</div>
</div>
</div>