<div class="container-fluid">
	<p class="content-text">Spicy jalapeno bacon ipsum dolor amet
		hamburger meatball pork belly tail spare ribs boudin ullamco, jerky
		shoulder leberkas non. Pork laborum irure, pig sed esse adipisicing
		ribeye cillum strip steak lorem. Kielbasa aliqua brisket shoulder,
		ball tip sed meatloaf andouille est kevin nulla irure nisi. Sint irure
		eu filet mignon leberkas in short loin pastrami. Do venison drumstick
		exercitation minim beef bresaola nulla corned beef burgdoggen
		cupidatat pariatur aliqua kevin hamburger. Chicken cillum et, dolore
		pancetta kevin ea esse cow deserunt eu. Duis cow shoulder frankfurter
		minim tail pork chop occaecat dolore ut ullamco ham prosciutto aute.
		Cupim tempor pig aute beef ribs chicken swine mollit, esse ea
		frankfurter capicola elit ut. Shank sed burgdoggen pork chop, biltong
		aliquip filet mignon exercitation duis cow incididunt ipsum laboris.
		Incididunt kevin pork belly commodo leberkas chicken ad.</p>
	<p class="content-text">Spicy jalapeno bacon ipsum dolor amet
		hamburger meatball pork belly tail spare ribs boudin ullamco, jerky
		shoulder leberkas non. Pork laborum irure, pig sed esse adipisicing
		ribeye cillum strip steak lorem. Kielbasa aliqua brisket shoulder,
		ball tip sed meatloaf andouille est kevin nulla irure nisi. Sint irure
		eu filet mignon leberkas in short loin pastrami. Do venison drumstick
		exercitation minim beef bresaola nulla corned beef burgdoggen
		cupidatat pariatur aliqua kevin hamburger. Chicken cillum et, dolore
		pancetta kevin ea esse cow deserunt eu. Duis cow shoulder frankfurter
		minim tail pork chop occaecat dolore ut ullamco ham prosciutto aute.
		Cupim tempor pig aute beef ribs chicken swine mollit, esse ea
		frankfurter capicola elit ut. Shank sed burgdoggen pork chop, biltong
		aliquip filet mignon exercitation duis cow incididunt ipsum laboris.
		Incididunt kevin pork belly commodo leberkas chicken ad.</p>
	<div class="row">
		<div class="col-md-1"></div>
		<div class="col-md-2">
			<div class="row">
				<!-- <div class=col-md-3>First Name:</div> -->
				<input class=col-md-12 type="text" ng-model="emailParts.firstName" placeholder="first name">
			</div>
			<div class="row">
				<input class=col-md-12 type="text" ng-model="emailParts.lastName" placeholder="last name">
			</div>
			<div class=row>
				<input class=col-md-12 type="text" ng-model="emailParts.email" placeholder="email">
			</div>
		</div>
		<div class="col-md-1" style="border-center: thin solid black"></div>
		<div class=col-md-8>
			<div class=row>
				<textarea rows="6" class=col-md-8 type="text"
					ng-model="emailParts.msg" placeholder="message"></textarea>
			</div>
			
		</div>
		<div class="col-md-1"></div>
		<div class=row>
				<input class="col-md-1  btn btn-primary submit-btn pull-left" type="button" 
					ng-click=sendContactEmail(emailParts) value="Send">
			</div>
	</div>
</div>

