<div style="width:100%; height:100px;">
   <div  class="img-div"><img ng-src="/javascripts/images/console.jpg"/></div>
   <div style="position:relative; top:0px; left:0px; width:100%; height:100px;">
		<div class="container-fluid">
			<div class="row" style="padding-left:5em;">
				<div class="col-md-6" style="border-right:thin solid #eeeeee">
					<p>
						We like hearing from you because we don't have a lot of friends.  
						Please be our friend.  And give us your money as well.
					</p>
					<div class="row">
						<div class=col-md-3>First Name:</div> 
						<input class=col-md-5 type="text" ng-model="emailParts.firstName">
					</div>
					<div class="row">
						<div class=col-md-3>Last Name</div> 
						<input class=col-md-5 type="text" ng-model="emailParts.lastName">
					</div>
					<div class=row>
						<div class=col-md-3>email:</div> 
						<input class=col-md-5 type="text" ng-model="emailParts.email">
					</div>
				</div>
				<div class=col-md-6>
					<div class=row>
						<div class=col-md-3>Message:</div> 
						<textarea rows="6" class=col-md-6 type="text" ng-model="emailParts.msg"></textarea>
					</div>
					<div class=row>
						<input class=col-md-5 type="button" style="margin-top:1em;" ng-click=sendContactEmail(emailParts) value="Send">
					</div>
				</div>
			</div>
		</div>
   </div>
</div>
